{% extends "base.html" %}

{% block title %}Index{% endblock %}


<!-- Css -->
{% block css %}
<style>
    .mylabel{
        margin-right:10px;
    }

</style>
{% endblock %}

<!-- ++++++++++++Content+++++++++++++ -->
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="span2">
            <!--Sidebar content-->
            <div class="" style="padding: 8px 0; margin-right:20px;">
            <ul class="nav nav-list">
                <li class="nav-header">
                    客户管理
                </li>
                <li>
                    <a href="/customer"><i class="icon-list"></i>列表</a>
                </li>
                <li class="active">
                    <a href="#"><ul><li>{{customer["name"]}}</li></ul></a>
                </li>
                <li class="">
                    <a href="/customer_add"><i class="icon-edit"></i>增加客户</a>
                </li>
            </ul>
            </div>
        </div>
        <div class="span10">
            <!--Body content-->
            <div class="">
                    <div class="row">
                        <form class="form-inline myform" action="">
                            <div class="control-group">
                                <label class="radio">
                                    <input type="radio" name="customer_type" id="typeRadios1" value="客户" {% if customer["type"]== "客户"%} checked=true{% endif %}>客户
                                </label>
                                <label class="radio">
                                    <input type="radio" name="customer_type" id="typeRadios2" value="渠道" {% if customer["type"]== "渠道"%} checked=true{% endif %}>渠道
                                </label>

                            </div>
                            <div class="row well">
                                <div class="span3">

                                    <div class="control-group">
                                        <input type="text" class="input-medium mydata" id="name" placeholder="客户姓名" value="{{customer['name']}}">
                                    </div>
                                    <div class="control-group">

                                        <label class="radio">
                                            <input type="radio" name="gender" id="sexRadios1" value="女士" {% if customer["gender"]== "女士"%} checked=true{% endif %}>女士
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="gender" id="sexRadios2" value="先生" {% if customer["gender"]== "先生"%} checked=true{% endif %}>先生
                                        </label>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">生日</label>
                                        <input type="text" class="input-medium mydata" id="birth" placeholder="yyyy-mm-dd" value="{{customer['birthday']['date']}}">
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label">公司名称</label>
                                        <input type="text" class="input-medium mydata" id="company" placeholder="公司" value="{{customer['company']}}">
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">职务</label>
                                        <input type="text" class="input-medium mydata" id="vocation" placeholder="职业" value="{{customer['vocation']}}">
                                    </div>
                                </div>
                                
                                <div class="span5">
                                    <div class="control-group">
                                        <input type="text" class="input-small mydata" id="phone_w" placeholder="工作电话" value="{{customer['phone']['work']}}">
                                        <input type="text" class="input-small mydata" id="phone_p" placeholder="私人电话" value="{{customer['phone']['personal']}}">
                                        <input type="text" class="input-small mydata" id="phone_h" placeholder="家庭电话" value="{{customer['phone']['home']}}">
                                    </div>
                                    <div class="control-group">
                                        <input type="text" class="input-medium mydata" id="email_w" placeholder="工作邮箱" value="{{customer['email']['work']}}">
                                        <input type="text" class="input-medium mydata" id="email_p" placeholder="私人邮箱" value="{{customer['email']['personal']}}">
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">行业</label>
                                        <input type="text" class="input-medium mydata" id="sector" placeholder="行业" value="{{customer['sector']}}">
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">家庭住址</label>
                                        <input type="text" class="input-large mydata" id="home_addr" placeholder="家庭住址" value="{{customer['home_addr']}}">
                                    </div>                                
                                </div>
                            </div>  
                            <div class="row">
                                <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label"><i class=" icon-tags"></i>爱好</label>
                                        <div class="controls">
                                            <input type="text" class="input-mini mydata" id="input_like" placeholder="爱好">
                                            <a class="btn btn-primary btn-mini" id="btn_like_add" href="">添加</a>
                                            <div id="likes">

                                                <ul class="unstyled">
                                                    {% for item in customer["likes"]%}
                                                         <li><a class="btn_remove" href="#" tdata="{{item}}"><i class="icon-remove"></i></a>{{item}}</li>
                                                    {% endfor %}
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="span5">
                                    <div class="control-group">
                                        <label class="control-label"><i class=" icon-align-justify"></i>Wishlist</label>
                                        <div class="controls">
                                            <input type="text" class="input-large mydata" id="input_wish" name="wish" placeholder="爱好"> 
                                            <a class="btn btn-primary btn-mini" id="btn_wish_add" href="">添加</a>
                                            <div id="wishs">
                                                <ul class="unstyled">
                                                    {% for item in customer["wishs"]%}
                                                    <li><a class="btn_remove" href="#" tdata="{{item}}"><i class="icon-remove"></i></a>{{item}}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </form>

                        <div class="row">
                            <div class="span10">
                            <form class="form-inline" action="">
                                <label class="mylabel">相关人员 <a id="btn_relevants_add" href="#"><i class="icon-plus-sign"></i></a></label>
                                <div id="relevants">
                                    {% if customer["relevance_people"]==[]%}
                                    <div class="relevant" id="relevant_o">

                                        <input type="text" class="input-small mydata r_name" placeholder="姓名">
                                        <select class="span1 r_relation">
                                            <option value="">关系</option>
                                            {% for i in g.dbs.tags("relation_h").get_tags() %}
                                            <option value="{{i|safe}}">{{i|safe}}</option>
                                            {% endfor %}
                                        </select>  
                                        <input type="text" class="input-small mydata r_phone" placeholder="电话">
                                        <input type="text" class="input-medium mydata r_email" placeholder="E-mail">
                                        <input type="text" class="input-large mydata r_remark" placeholder="备注">
                                    </div>
                                    {% else %}
                                        {% for item in customer["relevance_people"]%}
                                        <div class="relevant" {%if loop.index == 1 %} id="relevant_o" {% endif %}>

                                            <input type="text" class="input-small mydata r_name" placeholder="姓名" value="{{item['name']}}">
                                            <select class="span1 r_relation" >
                                                <option value="">关系</option>
                                                {% for i in g.dbs.tags("relation_h").get_tags() %}
                                                <option value="{{i|safe}}" {%if item['relation'] == i%} selected=true{%endif%}>{{i|safe}}</option>
                                                {% endfor %}
                                            </select>
                                            <input type="text" class="input-small mydata r_phone" placeholder="电话" value="{{item['phone']}}">
                                            <input type="text" class="input-medium mydata r_email" placeholder="E-mail" value="{{item['email']}}">
                                            <input type="text" class="input-large mydata r_remark" placeholder="备注" value="{{item['remark']}}">
                                        </div>
                                        {% endfor %}
                                    {% endif%}
                                </div>
                            </form>
                                
                            <form class="form-inline" action="">
                                <label class="mylabel">社会关系 <a id="btn_socials_add" href="#"><i class="icon-plus-sign"></i></a></label>
                                <div id="socials">
                                    {% if customer["social"]==[]%}
                                    <div class="social" id="social_o">
                                        <input type="text" class="input-small mydata s_name" placeholder="姓名">
                                        <select class="span2 s_relation">
                                            <option value="">关系</option>
                                            {% for i in g.dbs.tags("relation_s").get_tags() %}
                                            <option value="{{i|safe}}">{{i|safe}}</option>
                                            {% endfor %}
                                        </select>
                                        <input type="text" class="input-xlarge mydata s_remark" placeholder="备注">
                                    </div>
                                    {% else%}
                                        {% for item in customer['social']%}
                                        <div class="social" {%if loop.index == 1 %} id="social_o" {% endif %} >
                                            <input type="text" class="input-small mydata s_name" placeholder="姓名" value="{{item['name']}}">
                                            <select class="span2 s_relation">
                                                <option value="">关系</option>
                                                {% for i in g.dbs.tags("relation_s").get_tags() %}
                                                <option value="{{i|safe}}" {%if item['relation'] == i%} selected=true{%endif%}>{{i|safe}}</option>
                                                {% endfor %}
                                            </select>
                                            <input type="text" class="input-xlarge mydata s_remark" placeholder="备注" value="{{item['remark']}}">
                                        </div>
                                        {% endfor%}
                                    {% endif %}
                                </div>
                                                                
                            </form>
                                
                                <form class="form-inline" action="">
                                    <label class="mylabel">客户来源</label>
                                    <!--
                                    <input type="text" class="input-small mydata" id="channel" placeholder="来源渠道">
                                     -->
                                    <select class="span2" id="channel" >
                                            <option value="">来源渠道</option>
                                            {% for i in g.dbs.tags("channel").get_tags() %}
                                            <option value="{{i|safe}}" {%if customer['channel']['method'] == i%} selected=true{%endif%}>{{i|safe}}</option>
                                            {% endfor %}
                                    </select>
                                    <input type="text" class="input-small mydata" id="introducer" placeholder="介绍人" value="{{customer['channel']['name']}}">

                                </form>
                                
                                
                                
                                                            
                                <div class="control-group">
                                    <label class="control-label" for="textarea">备忘录</label>
                                    <div class="controls">
                                        <textarea class="span8" id="remark" rows="3"></textarea>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                <a class="btn btn-success btn-large" id="btn_submit" href="">保存</a>
            </div>
            
            
            <!--Body content End-->



            <div class="result"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/ember-0.9.8.1.min.js"></script>
<script type="text/javascript" src="/static/js/models.js"></script>
<script>
    var sector = {{g.dbs.tags("sector").get_json()|safe}};
    var vocation = {{g.dbs.tags("vocation").get_json()|safe}};
    var likes = {{g.dbs.tags("likes").get_json()|safe}};
    
    var customer={{customer|jsonify|safe}};
    $('#introducer').tokenInput({{g.dbs.get_json_customer_and_id_list()|safe}},
    {
        theme: "facebook",
                searchDelay:100
    });
    var intro = customer.channel;
    if(intro._id != undefined){
        $('#introducer').tokenInput('add', {'name':intro.name,"_id":intro._id});
    }


    $(function(){ 
      
      /*
       matcher:mymatch
       */
      $('#sector').typeahead({source:sector,items:5,matcher:mymatcher_t});
      $('#likes').typeahead({source:likes,items:5,matcher:mymatcher_t});


      function test_add_element_to_array(ary,elm){
        var i = $.inArray(elm,ary);
        if( i >=0 ) { return false;}
        ary.push(elm);
        return true;
      }
      
      function test_remove_element_to_array(ary,elm){
        var i = $.inArray(elm,ary);
        if( i == -1) { return false;}
        ary.splice(i,1);
        return true;
      }
      
      $('a#btn_like_add').click( function(){
                                var like = $.trim( $('input#input_like').val() );
                                if (like == "" || test_add_element_to_array(customer.likes,like) == false){return false;}
                                var  html='<li><a class="btn_remove" href="#" tdata="'+ like +'"><i class="icon-remove"></i></a>' + like +'</li>';
                                 $('div#likes ul').append(html);
                                
                                return false;
                                 });
      
      $('a#btn_wish_add').click( function(){
                                var wish = $('input#input_wish').val().trim();
                                if (wish == "" || test_add_element_to_array(customer.wishs,wish) == false){return false;}
                                var html ='<li><a class="btn_remove" href="#" tdata="'+ wish +'"><i class="icon-remove"></i></a>' + wish +'</li>';
                                $('div#wishs ul').append(html);
                                
                                return false;
                                });
      
      $('#likes a.btn_remove').live("click", function(){
                              test_remove_element_to_array(customer.likes, $(this).attr('tdata'));
                              $(this).parent().remove();
                              return false;
                              });
      
      $('#wishs a.btn_remove').live("click", function(){
                                    test_remove_element_to_array(customer.wishs, $(this).attr('tdata'));
                                    $(this).parent().remove();
                                    return false;
                                    });
      $('#btn_relevants_add').click( function(){
                                    var new_relevant = $('#relevant_o').clone();
                                    new_relevant.append('<a class="btn_remove_f" href="#"><i class="icon-minus-sign"></i></a>');
                                    new_relevant.appendTo($('#relevants'));
                                    return false;
                                    });
      $('#btn_socials_add').click( function(){
                                    var new_s = $('#social_o').clone();
                                    new_s.append('<a class="btn_remove_f" href="#"><i class="icon-minus-sign"></i></a>');
                                    new_s.appendTo($('#socials'));
                                    return false;
                                    });


      $('.btn_remove_f').live("click",function(){
                              $(this).parent().remove();
                              return false;
                              });

      $('a#btn_submit').click( function(){
            customer.type = $('input[name=customer_type]:checked').val();
            customer.manager = "{{ session['_id'] }}";
            customer.name = $('input#name').val();
            customer.gender = $('input[name=gender]:checked').val();
            t = $("input#birth").val();
            if(customer.birthday == undefined){
                customer.birthday={'date':t};
            }
            else{
                customer.birthday["date"] = t;
            }
            customer.sector = $('input#sector').val();
            customer.vocation = $('input#vocation').val();

            customer.phone = {"work":$('input#phone_w').val(),"personal":$('input#phone_p').val(),"home":$('input#phone_h').val()};
            customer.email = {"work":$('input#email_w').val(),"personal":$('input#email_p').val()};
            customer.company = $("input#company").val();
            customer.home_addr = $('input#home_addr').val();

            customer.relevance_people = [];
            customer.social = [];
            var rp = $('div#relevants div.relevant');
            for(var i = 0; i < rp.length; i++){
                var r=$(rp[i]).children()
                customer.relevance_people.push({"name" : $(r[0]).val(),
                    "relation" : $(r[1]).val(),
                    "phone" : $(r[2]).val(),
                    "email" : $(r[3]).val(),
                    "remark": $(r[4]).val()});
            }

            var sp = $('div#socials div.social');
            for(var i = 0; i < sp.length; i++){
                var s=$(sp[i]).children()
                customer.social.push({"name" : $(s[0]).val(),    //进一步处理
                    "relation" : $(s[1]).val(),
                    "remark" : $(s[2]).val()});
            }

              customer.channel = {"method":$('#channel').val()};
              var intro = $('#introducer').tokenInput('get');
              if (intro.length != 0){
                  customer.channel.name = intro[0].name;
                  customer.channel._id = intro[0]._id;
              }
            customer.remark = $('#remark').val();

            var request = $.ajax({
                type: "POST",
                url: "/api/customer/save",
                contentType:"application/json",
                data: JSON.stringify(customer),
                success: function(data) {
                    $('.result').html(data);
                    location = "/customer/{{customer['_id']}}";


                }
            });
            return false;
      });

   });

 </script>
{% endblock %}
