{% extends "base.html" %}

{% block title %}Index{% endblock %}


<!-- Css -->
{% block css %}
<link href="/static/css/timePicker.css" rel="stylesheet" type="text/css">
<style>
</style>
{% endblock %}

<!-- ++++++++++++Content+++++++++++++ -->
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="span2">
            <!--Sidebar content-->
            <div class="" style="padding: 8px 0; margin-right:20px;">
            <ul class="nav nav-list">
                <li class="nav-header">
                    客户管理
                </li>
                <li>
                    <a href="/customer"><i class="icon-list"></i>列表</a>
                </li>

                <li class="active">
                    <a href="#"><ul><li>{{customer["name"]}}</li></ul></a>
                </li>
                <li>
                    <a href="/customer_add"><i class="icon-edit"></i>增加客户</a>
                </li>
            </ul>
            </div>
            
            
        </div>
        <div class="span10">
            <!--Body content-->
            <div class="row-fluid">
                <div id="basic_info" class="span10">
                    <table class="table table-striped table-bordered table-condensed">
                        <tbody>
                        <tr>
                            <td><strong>客户类型</strong></td>
                            <td colspan="5">{{customer['type']}}</td>
                        </tr>
                        <tr>
                            <td><strong>客户姓名</strong></td>
                            <td>{{customer['name']}}({{customer['gender']}})</td>
                            <td><strong>生日</strong></td>
                            <td colspan="3">{{customer['birthday']}}</td>
                        </tr>
                        <tr>
                            <td><strong>公司</strong></td><td colspan="3">{{customer['company']}}</td>
                        </tr>
                        <tr>
                            <td><strong>行业</strong></td><td>{{customer['sector']}}</td>
                            <td><strong>职业</strong></td><td>{{customer['vocation']}}</td>
                        </tr>
                        <tr>
                            <td><strong>电话</strong></td>
                            <td colspan="3">
                                {{customer['phone']['work']}}<em>工作</em>
                                {{customer['phone']['personal']}}<em>私人</em>
                                {{customer['phone']['home']}}<em>家庭</em>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>E-mail</strong></td>
                            <td colspan="3">
                                {{customer['email']['work']}}<em>工作</em>
                                {{customer['email']['personal']}}<em>私人</em>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>家庭住址</strong></td><td colspan="3">{{customer['home_addr']}}</td>
                        </tr>
                        <tr>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span2">
                    <div>
                        <a class="btn btn-success" data-toggle="modal" href="#myModal">
                            <i class="icon-pencil icon-white"></i> 记录活动
                        </a>

                    </div>

                </div>
            </div>

            <div class="row-fluid">
                <div id="relevance_info" class="span5">
                    <div class="page-header">
                        <h4>重要关系</h4>
                    </div>
                </div>
                <div id="social_info" class="span5">
                    <div class="page-header">
                        <h4>社会关系</h4>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div id="activity_info" class="span5">
                    <div class="page-header">
                        <h4>客户活动</h4>
                    </div>
                </div>
                <div id="welfare_info" class="span5">
                    <div class="page-header">
                        <h4>客户福利</h4>
                    </div>
                </div>
            </div>
            <div class="row" id="contract_info">
                <div class="page-header">
                    <h3>签约信息</h3>
                </div>
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>签约时间</th>
                        <th>项目</th>
                        <th>期限</th>
                        <th>金额</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contract in contracts%}
                    <tr>
                        <td>{{contract.length}}</td>
                        <td>{{contact["date"]}}</td>
                        <td>{{contact["contract_project"]}}</td>
                        <td>{{contact["contract_start"]}}至{{contact["contract_end"]}}</td>
                        <td>{{contact["amount"]}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>

            <div class="row" id="contact_info">
                <div class="page-header">
                        <h3>联络记录</h3>
                    </div>
                <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>时间</th>
                            <th>类型</th>
                            <th>内容</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for contact in contacts%}
                            <tr>
                                <td>{{contact.length}}</td>
                                <td>{{contact["start_date"]}} {{contact["start_time"]}}</td>
                                <td>{{contact["type"]}}</td>
                                <td>{{contact["remark"]}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            </div>


        </div>
    </div>
</div>

<div class="modal hide fade" id="myModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>记录活动</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">

            <p>
                <input type="text" class="input-large" placeholder="无标题活动" id="contact_title">
            </p>
            <p><input type="text" class="input-small datepicker" id="contact_start_date">
                <input type="text" class="input-mini" id="contact_start_time">
                至<input type="text" class="input-small datepicker" id="contact_end_date">
                <input type="text" class="input-mini" id="contact_end_time">
            </p>
            <p>
                <label class="checkbox inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 全天
                </label>
                <label class="checkbox inline">
                    <input type="checkbox" id="inlineCheckbox2" value="option1"> 重复
                </label>
                <label class="checkbox inline">
                    <input type="checkbox" id="inlineCheckbox3" value="option1"> 提醒
                </label>
            </p>
            <hr>
            <h4>活动详情</h4>
            <div class="row">
                <div class="span3">

                    <p>地点<input type="text" class="input-small"  id="contact_location"></p>
                    <p>
                        类型 <select class="input-small" id="contact_type" name="contact_type">
                        <option>电话</option>
                    </select>
                        花费<input class="input-mini"  id="contact_spend"  type="text">
                    </p>
                </div>
                <div class="span2">
                    <p>标签</p>

                </div>
            </div>
            <p>参与人<input class="input-xlarge" type="text" id="contact_attend"></p>
            <hr>
            <p>说明</br><textarea type="text" class="input-xlarge"  id="contact_remark"></textarea></p>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary" id="btn_add_cal">添加</a>
    </div>
</div>
{% endblock %}







{% block js %}
<script type="text/javascript" src="/static/js/jquery.timePicker.min.js"></script>
<script>
    var cal={};
    $(function() {
        var tn = new Date()
        var s = tn.getFullYear().toString() + '-' + tn.getMonth().toString() + '-' + tn.getDate().toString();
        $(".datepicker").val(s);
        $("#contact_start_time").val((tn.getHours()+1).toString() + ":00");
        $("#contact_end_time").val((tn.getHours()+2).toString() + ":00");
        $( ".datepicker" ).datepicker({ dateFormat: "yy-mm-dd" });
        $('#myModal').modal();


        $("#contact_start_time, #contact_end_time").timePicker({
                show24Hours: true,
                separator: ':',
                step: 30}
        );
        var oldTime = $.timePicker("#contact_start_time").getTime();
        $("#contact_start_time").change(function() {
            if ($("#contact_end_time").val()) {
                var duration = ($.timePicker("#contact_end_time").getTime() - oldTime);
                var time = $.timePicker("#contact_start_time").getTime();
                $.timePicker("#contact_end_time").setTime(new Date(new Date(time.getTime() + duration)));
                oldTime = time;
            }
        });

        var customer_tags= {{customer_id_list|safe}};
        $( "#contact_attend" ).tokenInput(customer_tags,
            {
                theme: "facebook",
                searchDelay:100,
                prePopulate:[{id:"{{customer['_id']|safe}}",name:"{{customer['name']|safe}}"}]
            }
        );
        $( "#selectable" ).selectable();
        $("#btn_add_cal").click(function(){
            cal.type = "事务";
            cal.manager = "{{ session['_id'] }}";
            var tokens = $( "#contact_attend" ).tokenInput('get');
            var attend = []
            for (var i= 0; i< tokens.length;i++){
                attend.push(tokens[i].id);
            }
            cal.attend = attend;
            cal.title = $("#contact_title").val();
            t_start = new Date($("#contact_start_date").val() + " " + $("#contact_start_time").val());
            cal.start = Math.floor(t_start.getTime()/1000);
            t_end = new Date($("#contact_end_date").val() + " " + $("#contact_end_time").val());
            cal.end = Math.floor(t_end.getTime()/1000);
            cal.location = $("#contact_location").val();
            cal.contact_type = $('#contact_type option:selected').val();
            cal.spending = $("#contact_spend").val();
            cal.remark = $("#contact_remark").val();
            var n = new Date();
            if (cal.start < (n.getTime()/1000-3600)){
                cal.is_ok = true;
            }
            else{
                cal.is_ok = false;
            }

            var request = $.ajax({
                type: "POST",
                url: "/api/cal/add",
                contentType:"application/json",
                data: JSON.stringify(cal),
                success: function(data) {
                }
            });
            return false;
        });
    });
 </script>
{% endblock %}
