{% macro cal(prepop) -%}
<form class="form-horizontal">

    <p>
        <input type="text" class="input-large" placeholder="无标题活动" id="contact_title">
    </p>
    <p><input type="text" class="input-small datepicker" id="contact_start_date">
        <input type="text" class="input-mini" id="contact_start_time">
        至<input type="text" class="input-small datepicker" id="contact_end_date">
        <input type="text" class="input-mini" id="contact_end_time">
    </p>
    <p>
        <label class="checkbox inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> 全天
        </label>
        <label class="checkbox inline">
            <input type="checkbox" id="inlineCheckbox2" value="option1"> 重复
        </label>
        <label class="checkbox inline">
            <input type="checkbox" id="inlineCheckbox3" value="option1"> 提醒
        </label>
    </p>
    <hr>
    <h4>活动详情</h4>
    <div class="row">
        <div class="span3">

            <p>地点<input type="text" class="input-small"  id="contact_location"></p>
            <p>
                类型 <select class="input-small" id="contact_type" name="contact_type">
                <option>电话</option>
            </select>
                花费<input class="input-mini"  id="contact_spend"  type="text">
            </p>
        </div>
        <div class="span2">
            <p>标签</p>

        </div>
    </div>
    <p>参与人<input class="input-xlarge" type="text" id="contact_attend"></p>
    <hr>
    <p>说明</br><textarea type="text" class="input-xlarge"  id="contact_remark"></textarea></p>
</form>

<script type="text/javascript" src="/static/js/jquery.timePicker.min.js"></script>
<script>
    $(function() {
        var tn = new Date();
        var s = tn.getFullYear().toString() + '-' + (tn.getMonth()+1).toString() + '-' + tn.getDate().toString();
        $(".datepicker").val(s);
        $("#contact_start_time").val((tn.getHours()+1).toString() + ":00");
        $("#contact_end_time").val((tn.getHours()+2).toString() + ":00");
        $( ".datepicker" ).datepicker({ dateFormat: "yy-mm-dd" });


        $("#contact_start_time, #contact_end_time").timePicker({
                    show24Hours: true,
                    separator: ':',
                    step: 30}
        );
        var oldTime = $.timePicker("#contact_start_time").getTime();
        $("#contact_start_time").change(function() {
            if ($("#contact_end_time").val()) {
                var duration = ($.timePicker("#contact_end_time").getTime() - oldTime);
                var time = $.timePicker("#contact_start_time").getTime();
                $.timePicker("#contact_end_time").setTime(new Date(new Date(time.getTime() + duration)));
                oldTime = time;
            }
        });

        var customer_tags= {{g.dbs.get_json_customer_and_id_list()|safe}};
        $( "#contact_attend" ).tokenInput(customer_tags,
                {
                    theme: "facebook",
                    searchDelay:100,
                    {% if customer%}
                    prePopulate:[{id:'{{customer['_id']|safe}}',name:'{{customer['name']|safe}}'}],
                    {% endif%}
                }
        );
        $( "#selectable" ).selectable();
    });

    function get_cal(){
        var cal={};
        cal.type = "事务";
        cal.manager = "{{ session['_id'] }}";
        var tokens = $( "#contact_attend" ).tokenInput('get');
        var attend = []
        for (var i= 0; i< tokens.length;i++){
            attend.push(tokens[i].id);
        }
        cal.attend = attend;
        cal.title = $("#contact_title").val();
        t_start = new Date($("#contact_start_date").val() + " " + $("#contact_start_time").val());
        // convert local time to gmt time
        cal.start = Math.floor(t_start.getTime()/1000 - t_start.getTimezoneOffset()*60);
        t_end = new Date($("#contact_end_date").val() + " " + $("#contact_end_time").val());
        cal.end = Math.floor(t_end.getTime()/1000 - t_end.getTimezoneOffset()*60);
        cal.location = $("#contact_location").val();
        cal.contact_type = $('#contact_type option:selected').val();
        cal.spending = $("#contact_spend").val();
        cal.remark = $("#contact_remark").val();
        var n = new Date();
        if (cal.start < (n.getTime()/1000-600)){
            cal.is_ok = true;
        }
        else{
            cal.is_ok = false;
        }

        return cal;
    }
</script>


{%- endmacro %}









{% macro project() -%}
<form class="form-horizontal">

    <div class="control-group">
        <label class="control-label" for="issuer">发行方</label>
        <div class="controls">
            <input type="text" class="input-large" placeholder="发行方" id="issuer">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="project_name">项目名</label>
        <div class="controls">
            <input type="text" class="input-large" placeholder="项目名" id="project_name">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">行业</label>
        <input type="text" class="input-medium mydata" id="project_sector" placeholder="行业">
    </div>
    <hr>
    <div class="control-group">
        <label class="control-label">发行总额</label>
        <input type="text" class="input-medium mydata" id="scale" placeholder="发行总额">
    </div>
    <div class="control-group">
        <label class="control-label">分红</label>
        <input type="text" class="input-medium mydata" id="income_distribution" placeholder="分红">
    </div>
    <div class="control-group">
        <label class="control-label">项目时长</label>
        <div class="controls input-append">
            <input type="text" class="input-medium mydata" id="length_project" placeholder="时长"><span class="add-on">年</span>
        </div>
    </div>
    <hr>
    <div class="control-group">
        <label class="control-label">备注</label>
        <textarea type="text" class="input-xlarge"  id="remark"></textarea>
    </div>
</form>

<script>
    $(function() {

    });

    function get_project(){
        var project={};
        project.issuer = $('#issuer').val();
        project.manager = "{{ session['_id'] }}";
        project.project_name = $("#project_name").val();
        project.working = true;
        project.project_sector = $('#project_sector').val();
        project.scale = $('#scale').val();
        project.income_distribution = $('#income_distribution').val();
        project.length_project = $('#length_project').val();
        project.remark = $('#remark').val();
        return project;
    }
</script>


{%- endmacro %}














{% macro contract(customer) -%}
<form class="form-horizontal">

    <div class="control-group">
        <label class="control-label" for="issuer">签约日期</label>
        <div class="controls">
            <input type="text" class="input-small datepicker" id="contract_date">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="project_name">项目名</label>
        <div class="controls">
            <input type="text" class="input-large" placeholder="项目名" id="contract_project">
        </div>
    </div>
    <hr>
    <div class="control-group">
        <label class="control-label">合同开始日期</label>
        <div class="controls">
            <input type="text" class="input-small datepicker" id="contract_start_date">
        </div>
    </div>
    <hr>
    <div class="control-group">
        <label class="control-label">合同结束日期</label>
        <div class="controls">
            <input type="text" class="input-small datepicker" id="contract_end_date">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">合同金额</label>
        <div class="controls">
            <div class="input-append">
                <input type="text" class="input" placeholder="金额" id="amount"><span class="add-on">￥</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="control-group">
        <label class="control-label">备注</label>
        <textarea type="text" class="input-xlarge"  id="remark"></textarea>
    </div>
</form>

<script>
    $(function() {
        $( ".datepicker" ).datepicker({ dateFormat: "yy-mm-dd" });

    });

    function get_contract(){
        var contract={};
        contract.user_id = "{{customer['_id']|safe}}";
        contract.manager = "{{ session['_id'] }}";
        contract_date = new Date($("#contract_date").val());
        offset = contract_date.getTimezoneOffset()*60;
        contract.contract_date = Math.floor(contract_date.getTime()/1000 - offset);
        contract.project = $('#contract_project').val();
        contract_start_date = new Date($("#contract_start_date").val());
        contract_end_date = new Date($("#contract_end_date").val());
        contract.contract_start_date = Math.floor(contract_start_date.getTime()/1000 - offset);
        contract.contract_end_date = Math.floor(contract_end_date.getTime()/1000 - offset);
        contract.amount = $('#amount').val();
        contract.remark = $('#remark').val();
        return contract;
    }
</script>


{%- endmacro %}