{% macro cal(prepop) -%}
<form class="form-horizontal">

    <p>
        <input type="text" class="input-large" placeholder="无标题活动" id="contact_title">
        <label class="checkbox inline">
            <input type="checkbox" id="allDay" value="option1"> 全天
        </label>
    </p>
    <p><input type="text" class="input-small datepicker" id="contact_start_date">
        <input type="text" class="input-mini" id="contact_start_time">至
        <input type="text" class="input-small datepicker" id="contact_end_date">
        <input type="text" class="input-mini" id="contact_end_time">
    </p>
    <hr>
    <h4>活动详情</h4>
    <p>地点<input type="text" class="input-large"  id="contact_location"></p>
    <p>
        类型 <select class="input-small" id="contact_type" name="contact_type">
        {% for i in g.dbs.tags("contact_type").get_tags() %}
        <option value="{{i|safe}}">{{i|safe}}</option>
        {% endfor %}
    </select>
        花费<input class="input-mini"  id="contact_spend"  type="text">
    </p>

    <p>参与人<input class="input-large" type="text" id="contact_attend"></p>
    <hr>
    <p>说明</br><textarea type="text" class="input-xlarge"  id="contact_remark"></textarea></p>
</form>

<script type="text/javascript" src="/static/js/jquery.timePicker.min.js"></script>
<script>
    $(function() {
        var tn = new Date();
        var s = tn.getFullYear().toString() + '-' + (tn.getMonth()+1).toString() + '-' + tn.getDate().toString();
        $(".datepicker").val(s);
        $("#contact_start_time").val((tn.getHours()+1).toString() + ":00");
        $("#contact_end_time").val((tn.getHours()+2).toString() + ":00");
        $( ".datepicker" ).datepicker({ dateFormat: "yy-mm-dd",showButtonPanel: true});


        $("#contact_start_time, #contact_end_time").timePicker({
                    show24Hours: true,
                    separator: ':',
                    step: 30}
        );
        var oldTime = $.timePicker("#contact_start_time").getTime();
        $('#contact_start_date').change(function(){
           $('#contact_end_date').val($('#contact_start_date').val());
        });
        $("#contact_start_time").change(function() {
            if ($("#contact_end_time").val()) {
                var duration = ($.timePicker("#contact_end_time").getTime() - oldTime);
                var time = $.timePicker("#contact_start_time").getTime();
                $.timePicker("#contact_end_time").setTime(new Date(new Date(time.getTime() + duration)));
                oldTime = time;
            }
        });

        $( "#contact_attend" ).tokenInput({{g.dbs.get_json_customer_and_id_list()|safe}},
                {
                    theme: "facebook",
                    searchDelay:100,
                    {% if customer%}
                    prePopulate:[{_id:'{{customer['_id']|safe}}',name:'{{customer['name']|safe}}'}],
                    {% endif%}
                }
        );
        $( "#selectable" ).selectable();
    });
    var forms_cal={};
    function set_cal(cal){
        forms_cal =cal;
        $("#contact_title").val(forms_cal.title);
        $('#contact_start_date').val(forms_cal.start.split(' ')[0])
        $("#contact_start_time").val(forms_cal.start.split(' ')[1])
        $('#contact_end_date').val(forms_cal.end.split(' ')[0])
        $("#contact_end_time").val(forms_cal.end.split(' ')[1])
        $('#allDay').prop("checked", forms_cal.allDay);
        $("#contact_location").val(forms_cal.location);
        $('#contact_type').val(forms_cal.contact_type);
        $("#contact_spend").val(forms_cal.spending);
        $("#contact_remark").val(forms_cal.remark);
        $( "#contact_attend").tokenInput("clear");
        for(i in forms_cal.attend){
            $( "#contact_attend").tokenInput("add",forms_cal.attend[i]);
        }
    }

    function get_cal(){
        forms_cal.type = "事务";
        forms_cal.manager = "{{ session['_id'] }}";
        var tokens = $( "#contact_attend" ).tokenInput('get');
        forms_cal.attend = tokens;
        forms_cal.title = $("#contact_title").val();
        t_start = $("#contact_start_date").val() + " " + $("#contact_start_time").val();
        // convert local time to gmt time
        forms_cal.start = t_start;
        t_end = $("#contact_end_date").val() + " " + $("#contact_end_time").val();
        forms_cal.end = t_end;
        forms_cal.allDay = $('#allDay').is (':checked');
        forms_cal.location = $("#contact_location").val();
        forms_cal.contact_type = $('#contact_type option:selected').val();
        forms_cal.spending = $("#contact_spend").val();
        forms_cal.remark = $("#contact_remark").val();
        var t_s = new Date(t_start);
        var t_n = new Date();
        if ((t_n-t_s)>600000){
            forms_cal.finished = true;
        }
        else{
            forms_cal.finished = false;
        }

        return forms_cal;
    }
    function clear_cal(){
        forms_cal={};
        $("#contact_title").val("");
        $('#contact_start_date').val("")
        $("#contact_start_time").val("")
        $('#contact_end_date').val("")
        $("#contact_end_time").val("")
        $('#allDay').prop("checked", false);
        $("#contact_location").val("");
        $('#contact_type').val("");
        $("#contact_spend").val("");
        $("#contact_remark").val("");
        $( "#contact_attend").tokenInput("clear");
        return true;
    }
</script>


{%- endmacro %}









{% macro project() -%}
<form class="form-horizontal">

    <div class="control-group">
        <label class="control-label" for="issuer">发行方</label>
        <div class="controls">
            <input type="text" class="input-large" placeholder="发行方" id="issuer">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="project_name">项目名</label>
        <div class="controls">
            <input type="text" class="input-large" placeholder="项目名" id="project_name">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">行业</label>
        <div class="controls">
            <input type="text" class="input-medium mydata" id="project_sector" placeholder="行业">
        </div>
    </div>
    <hr>
    <div class="control-group">
        <label class="control-label">发行总额</label>
        <div class="controls input-append">
        <input type="text" class="input-small mydata" id="scale" placeholder="发行总额"><span class="add-on">万</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">分红</label>
        <div class="controls input-append">
            <input type="text" class="input-small mydata" id="income_distribution" placeholder="分红"><span class="add-on">%</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">项目时长</label>
        <div class="controls input-append">
            <input type="text" class="input-small mydata" id="length_project" placeholder="时长"><span class="add-on">年</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">项目状态</label>
        <div class="controls">
            <label class="radio">
                <input type="radio" name="working" id="sexRadios1" value="可售">可售
            </label>
            <label class="radio">
                <input type="radio" name="working" id="sexRadios2" value="关闭">关闭
            </label>

        </div>
    </div>
    <hr>
    <div class="control-group">
        <label class="control-label">备注</label>
        <div class="controls">
        <textarea type="text" class="input-xlarge"  id="remark"></textarea>
        </div>
    </div>
</form>

<script>
    $(function() {

    });
    var form_project ={};

    function get_project(){
        form_project.issuer = $('#issuer').val();
        form_project.manager = "{{ session['_id'] }}";

        form_project.project_name = $("#project_name").val();
        form_project.working = $('input[name=working]:checked').val();
        form_project.project_sector = $('#project_sector').val();
        form_project.scale = $('#scale').val();
        form_project.income_distribution = $('#income_distribution').val();
        form_project.length_project = $('#length_project').val();
        form_project.remark = $('#remark').val();
        return form_project;
    }
    function set_project(project){
        form_project = project;
        $('#issuer').val(project.issuer);
        $("#project_name").val(project.project_name);
        $('#project_sector').val(project.project_sector);
        $('#scale').val(project.scale);
        $('#income_distribution').val(project.income_distribution);
        $('#length_project').val(project.length_project);
        $('#remark').val(project.remark);
        if(project.working == true){
            $('input[value="可售"]').attr('checked',true);
        }
        else{
            $('input[value="关闭"]').attr('checked',true);
        }
        return
    }
    function clear_project(){
        form_project={};
        $('#issuer').val("");
        $("#project_name").val("");
        $('#project_sector').val("");
        $('#scale').val("");
        $('#income_distribution').val("");
        $('#length_project').val("");
        $('#remark').val("");
        $('input[name=working]').attr('checked',false);
    }

</script>


{%- endmacro %}














{% macro contract(customer) -%}
<form class="form-horizontal">

    <div class="control-group">
        <label class="control-label" for="issuer">签约日期</label>
        <div class="controls">
            <input type="text" class="input-small datepicker" id="contract_date">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="project_name">项目名</label>
        <div class="controls">
            <input type="text" class="input-large" placeholder="项目名" id="contract_project">
        </div>
    </div>
    <hr>
    <div class="control-group">
        <label class="control-label">起息时间</label>
        <div class="controls">
            <input type="text" class="input-small datepicker" id="interest_start">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">付息时间及收益</label>
        <div class="controls" id="interest_pay" >
            <a id="interest_pay_add" href="#"><i class="icon-plus-sign"></i></a>
            <div class="interest_pay">
                <input type="text" class="input-small datepicker" class="interest_pay_date" placeholder="付息时间">
                <input type="text" class="input-small " class="interest_pay_rate" placeholder="付息比例">
                <div class="input-append">
                    <input type="text" class="span1 " class="interest_pay_amount" placeholder="金额"><span class="add-on">万</span>
                </div>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">认购金额</label>
        <div class="controls">
            <div class="input-append">
                <input type="text" class="input-medium" placeholder="金额" id="amount"><span class="add-on">万元</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">合同期限</label>
        <div class="controls">
            <input type="text" class="input" placeholder="期限" id="contract_length">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">年化收益</label>
        <div class="controls">
            <div class="input-append">
                <input type="text" class="input-small" placeholder="收益率" id="contract_income"><span class="add-on">%</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="control-group">
        <label class="control-label">返现</label>
        <div class="controls">
            <input type="text" class="input-small" id="refund_name">
            <div class="input-append">
                <input type="text" class="input-small" placeholder="金额" id="refund_amount"><span class="add-on">元</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">备注</label>
        <textarea type="text" class="input-xlarge"  id="remark"></textarea>
    </div>
</form>

<script>
    $(function() {
        $( ".datepicker" ).datepicker({ dateFormat: "yy-mm-dd" });
        var projects  ={{g.dbs.get_json_working_project_list()|safe}};
        $('#contract_project').typeahead({source:projects,items:5,matcher:mymatcher_t})
        $( "#refund_name" ).tokenInput({{g.dbs.get_json_customer_and_id_list()|safe}},
        {
            theme: "facebook",
                    searchDelay:100
        });
        var html= "<div class='interest_pay'><input type='text' class='input-small datepicker' class='interest_pay_date' placeholder='付息时间'>  \
            <input type='text' class='input-small ' class='interest_pay_rate' placeholder='付息比例'>  \
             <div class='input-append'>  \
            <input type='text' class='span1 ' class='interest_pay_amount' placeholder='金额'><span class='add-on'>万</span> </div> </div>"
        $('#interest_pay_add').click(function(){
                $('#interest_pay').append(html);
            return false;
                });
    });
    var _contract={};
    function get_contract(){
        _contract.user_id = "{{customer['_id']|safe}}";
        _contract.manager = "{{ session['_id'] }}";
        _contract.contract_date = $("#contract_date").val();
        var contract_project = {'name':$('#contract_project').val()}
        _contract.contract_project = contract_project;
        _contract.interest_start = $("#interest_start").val();
        var interest_pay=[];
        var int_pay =$('.interest_pay');
        for(var item=0; item <int_pay.length;item++){
            var pay={};
            var date = $($(int_pay[item]).find('input')[0]).val();
            if(date =='') { continue;}
            pay.date =date;
            pay.rate=$($(int_pay[item]).find('input')[1]).val();
            pay.amount = $($(int_pay[item]).find('input')[2]).val();
            interest_pay.push(pay);
        }
        _contract.interest_pay = interest_pay;
        _contract.contract_income = $('#contract_income').val();
        _contract.contract_length = $('#contract_length').val();
        _contract.amount = $('#amount').val();
        _contract.remark = $('#remark').val();
        var refund =  $("#refund_name" ).tokenInput('get');
        if(refund.length == 1) {
            refund =refund[0];
            refund.amount =$("#refund_amount").val();
        }
        else{
            refund={};
        }
        _contract.refund =refund;
        return _contract;
    }
    function set_contract(ctct){
        _contract=ctct;
        $("#contract_date").val(_contract.contract_date);
        $('#contract_project').val(_contract.contract_project.name);
        $("#interest_start").val(_contract.interest_start);
        var l = _contract.interest_pay.length;
        var html= "<div class='interest_pay'><input type='text' class='input-small datepicker' class='interest_pay_date' placeholder='付息时间'>  \
            <input type='text' class='input-small ' class='interest_pay_rate' placeholder='付息比例'>  \
             <div class='input-append'>  \
            <input type='text' class='span1 ' class='interest_pay_amount' placeholder='金额'><span class='add-on'>万</span> </div> </div>"
        for (var i=1; i<l;i++){
            $('#interest_pay').append(html);
        }


        var int_pay =$('.interest_pay');
        for (var i=0;i<l;i++){
            $($(int_pay[i]).find('input')[0]).val(_contract.interest_pay[i].date);
            $($(int_pay[i]).find('input')[1]).val(_contract.interest_pay[i].rate);
            $($(int_pay[i]).find('input')[2]).val(_contract.interest_pay[i].amount);
        }
        $("#contract_income").val(_contract.contract_income);
        $('#contract_length').val(_contract.contract_length);
        if(_contract.refund.name != undefined){
            $("#refund_name" ).tokenInput("add",{'_id':_contract.refund._id,'name':_contract.refund.name});
        }
        $("#refund_amount").val(_contract.refund.amount);
        $('#amount').val(_contract.amount);
        $('#remark').val(_contract.remark);
        return true;
    }
    function clear_contract(){
        _contract={};
        $("input").val("");
        var pay =$('.interest_pay');
        var l = pay.length;
        for(var i=1;i<l;i++){
            $(pay[i]).remove();
        }
        $("#refund_name" ).tokenInput("clear");
        return true;
    }
</script>


{%- endmacro %}