{% extends "base.html" %}

{% block title %}Index{% endblock %}


<!-- Css -->
{% block css %}
<style>
    .myblock{
        margin-bottom: 20px;
    }
    .myscrollable{
        min-height: 300px;
    }
    .myblock h2{
        margin-bottom: 10px;
    }
    .dtext{
        text-decoration : line-through ;
    }
</style>
<link href="/static/css/my-todo-ui.css" rel="stylesheet" type="text/css">
{% endblock %}
<!-- ++++++++++++Content+++++++++++++ -->
{% block content %}
<div class="container">

<div class="row">
    <div class="span2">
        <!--Sidebar content-->
        <div class="" style="padding: 8px 0; margin-right:20px;">
                {% raw %}
                <script type="text/x-handlebars" >
                {{view IndexApp.Todo_navView}}
                </script>
                {% endraw %}
        </div>


    </div>
    <div class="span10">
        <div class="myblock myscrollable">
            <div id="main_view">

            </div>
        </div>
        <h3>Contact List</h3>
        {% raw %}
        <script type="text/x-handlebars">
            {{view IndexApp.ContactView}}
        </script>
        {% endraw %}


    </div>

</div>






</div>
{% endblock %}



{% block js %}
<script type="text/javascript" src="/static/js/ember-0.9.8.1.min.js"></script>
<script type="text/javascript" src="/static/js/models.js"></script>



{% raw %}
<script type="text/x-handlebars" data-template-name="todo-nav">
    <ul class="nav nav-pills nav-stacked myul">
    <li class="nav-header">
        Todo List
    </li>
    <li {{bindAttr class="IndexApp.mainController.isInbox:active"}}>
        <a href="#" {{action "showInbox" target="IndexApp.stateManager"}} ><i class="icon-list"></i>收集箱 <strong>{{IndexApp.mainController.n_inbox}}</strong></a>
    </li>
    <li {{bindAttr class="IndexApp.mainController.isToday:active"}}>
        <a href="#"  {{action "showToday" target="IndexApp.stateManager"}}><i class="icon-edit"></i>今日待办 <strong>{{IndexApp.mainController.n_today}}</strong></a>
    </li>
    <li {{bindAttr class="IndexApp.mainController.isTomorrow:active"}}>
        <a href="#"{{action "showTomorrow" target="IndexApp.stateManager"}} ><i class="icon-edit"></i>明日待办</a>
    </li>
    </ul>
</script>

<script type="text/x-handlebars" data-template-name="contact">
    <table class="table table-striped" id="contact_list">
        <thead>
        <tr>
            <th>#</th>
            <th>公司</th>
            <th>职务</th>
            <th>姓名</th>
            <th>未通信天数</th>
            <th>上次通信时间</th>
            <th>累计合约</th>
        </tr>
        </thead>
        <tbody>
        {{#each IndexApp.contactController}}
        {{#view contentBinding="this"}}
        <tr>
            <td> {{_parentView.contentIndex}}</td>
            <td>{{ content.company }}</td>
            <td>{{ content.vocation }}</td>
            <td><a {{bindAttr href="content.customer_url"}}>{{ content.name }}({{content.gender}})</a> </td>
            <td>{{content.how_long}}</td>
            <td>{{content.contact_record.date}}</td>
            <td>{{content.amount}}</td>
        </tr>
        {{/view}}
        {{/each}}
        </tbody>
    </table>
</script>

<script type="text/x-handlebars" data-template-name="todo-content">
    <div>
        {{view IndexApp.InsertCalTextField placeholder="What need to be done?" valueBinding="IndexApp.mainController.newCalTitle" class="input-xxlarge"}}
    </div>
    <ul class="todo-list unstyled">
        {{#each  content}}
        {{#view contentBinding="this"}}
            <li >
                {{view Ember.Checkbox valueBinding="content.finished" classNames="toggle view"}}
                <div {{action "showCal" on="doubleClick" target="IndexApp.stateManager" context="content"}}>
                    <label class="text view">{{content.start}}</label>
                    <label class="text view" style="margin:0 0;">{{content.title }}</label>
                    <div class="destroy view"></div>
                </div>
            </li>
        {{/view}}
        {{/each}}
    </ul>
</script>

<script type="text/x-handlebars" data-template-name="todo-item">
    <div>
        <button class="btn btn-small" {{action "backTodo" target="IndexApp.mainController" context="content"}}><i class="icon-arrow-left"></i>放弃</button>
        <button class="btn btn-danger" {{action "saveCal" target="IndexApp.mainController" context="content"}}>保存</button>
        <button class="btn" {{action "delCal" target="IndexApp.mainController" context="content"}}>删除</button>
        <hr>
    </div>
    <p>
        {{view Ember.TextField valueBinding="content.title" class="input-large" placeholder="无标题活动"}}
        <label class="checkbox inline">
            {{view Ember.Checkbox valueBinding="content.allDay"}}全天
        </label>
    </p>
    <p>
        {{view Ember.TextField valueBinding="content.start_date" class="input-small datepicker" id="start_date" }}
        {{view Ember.TextField valueBinding="content.start_time" class="input-mini" id="contact_start_time" }}至
        {{view Ember.TextField valueBinding="content.end_date" class="input-small datepicker" id="end_date"}}
        {{view Ember.TextField valueBinding="content.end_time" class="input-mini" id="contact_end_time" }}
    </p>
    <hr>
    <h4>活动详情</h4>
    <p>地点
        {{view Ember.TextField valueBinding="content.location"  class="input-large"  }}</p>
    <p>
        类型{{view Ember.Select contentBinding="IndexApp.systemValue.contact_type" selectionBinding="content.contact_type" class="input-small"}}
        花费{{view Ember.TextField valueBinding="content.spending"  class="input-mini"  }}
    </p>

    <p>参与人<input class="input-large" type="text" id="contact_attend"></p>
    <hr>
    <p>说明</br></textarea>
        {{view Ember.TextArea valueBinding="content.remark"  class="input-xlarge"  }}</p>
</script>

{% endraw %}

<script>
(function (){
    IndexApp = Ember.Application.create();
    IndexApp.name="go";
    IndexApp.Todo_navView = Ember.View.extend({
        templateName: 'todo-nav'
    });
    IndexApp.ContactView = Ember.View.extend({
       templateName:'contact'
    });
    IndexApp.InsertCalTextField = Em.TextField.extend({
       insertNewline:function(){
           IndexApp.mainController.insertCal();
       }
    });
    IndexApp.CalArrayController = Em.ArrayController.extend({
        dateFilter:function(d){
            var ret=[];
            this.content.forEach(function(item,index,enumerable){
                if (item.get('start_date') == d) ret.push(item);
            })
            return ret;
        }
    });
    IndexApp.systemValue=Em.Object.create({
        customer_list:{{g.dbs.get_json_customer_and_id_list()|safe}},
        contact_type:{{g.dbs.tags("contact_type").get_json()|safe}}
    });
    IndexApp.contactController = Em.ArrayController.create({
        content:[]
    });
    IndexApp.mainController = IndexApp.CalArrayController.create({
        content:[],
        isInbox:false,
        isToday:true,
        isTomorrow:false,
        newCalTitle:"",
        current:'today',
        calItem:Cal.create({}),
        inbox:function(){
            return this.dateFilter("2000-01-01")
        }.property('content.@each.start'),
        today:function(){
            var d = new Date();
            var s = d.toISOString().split('T');
            return this.dateFilter(s[0])
        }.property('content.@each.start'),
        tomorrow:function(){
            var d = new Date();
            d.setDate(d.getDate()+1);
            var s = d.toISOString().split('T');
            return this.dateFilter(s[0])
        }.property('content.@each.start'),
        n_inbox: function() {
            var todos = this.get('inbox');
            return todos.filterProperty('finished', false).get('length');
        }.property('inbox.@each.finished'),
        n_today: function() {
            var todos = this.get('today');
            return todos.filterProperty('finished', false).get('length');
        }.property('today.@each.finished'),
        init:function(){
            var request = $.ajax({
                type: "GET",
                url: '/api/todo',
                dataType:'json',
                success: function(data) {
                    $(data).each(function(index,cal){
                        var c = Cal.create(cal);
                        IndexApp.mainController.pushObject(c);
                    });
                }
            });
            request = $.ajax({
                type: "GET",
                url: '/api/customer/contact_list',
                dataType:'json',
                success: function(data) {
                    $(data).each(function(index,c){
                        var c = Customer.create(c);
                        IndexApp.contactController.pushObject(c);
                    });
                }
            });
        },
        insertCal:function(){
            var c = Cal.create({
               type:"事务",
               title:this.newCalTitle,
                allDay:false,
                finished:false,
                attend:{}
            });
            switch(IndexApp.stateManager.currentState.name){
                case "inbox":
                    c.set('start', "2000-01-01 05:04");
                    c.set('end',"2000-01-01 05:04");
                    break;
                case "today":
                    var d = new Date();
                    var s = d.toISOString().split('T');
                    var t = d.toLocaleTimeString().split(':');
                    var ss = s[0]+' '+ t[0] + ':' + t[1];
                    c.set('start', ss);
                    c.set('end',ss);
                    break;
                case "tomorrow":
                    var d = new Date();
                    d.setDate(d.getDate()+1);
                    var s = d.toISOString().split('T');
                    var t = d.toLocaleTimeString().split(':');
                    ss = s[0]+' '+ t[0] + ':' + t[1];
                    c.set('start', ss);
                    c.set('end',ss);
                    break;

            }
            var request = $.ajax({
                type: "POST",
                url: "/api/cal/save",
                contentType:"application/json",
                data: JSON.stringify(c.get_content()),
                dataType:'json',
                success: function(data) {
                    var c = Cal.create(data);
                    IndexApp.mainController.pushObject(c)
                    console.debug(c)
                }
            });
            this.set('newCalTitle','');
        },
        delCal:function(event){
            IndexApp.stateManager.goToState(IndexApp.mainController.get('current'));
            var cal = event.context;
            var request = $.ajax({
                type:'GET',
                url:'/api/cal/'+cal.get('_id')+'/delete',
                dataType:'json',
                success:function(data){
                    IndexApp.mainController.content.removeObject(cal);
                }
            });
        },
        saveCal:function(event){
            var cal = IndexApp.mainController.get('calItem');
            cal.set("attend",$( "#contact_attend" ).tokenInput('get'));
            cal.save();
            IndexApp.stateManager.goToState(IndexApp.mainController.get('current'));

        },
        backTodo:function(event){
            IndexApp.stateManager.goToState(IndexApp.mainController.get('current'));
        }
    });
    IndexApp.stateManager = Ember.StateManager.create({
        rootElement: '#main_view',
        initialState: 'today',

        showInbox: function(manager) {
            manager.goToState('inbox');
            IndexApp.mainController.set('isInbox',true);
            IndexApp.mainController.set('isToday',false);
            IndexApp.mainController.set('isTomorrow',false);
            IndexApp.mainController.set('current',manager.currentState.name);
        },
        showToday: function(manager) {
            manager.goToState('today');
            IndexApp.mainController.set('isInbox',false);
            IndexApp.mainController.set('isToday',true);
            IndexApp.mainController.set('isTomorrow',false);
            IndexApp.mainController.set('current',manager.currentState.name);
        },
        showTomorrow: function(manager){
            manager.goToState('tomorrow');
            IndexApp.mainController.set('isInbox',false);
            IndexApp.mainController.set('isToday',false);
            IndexApp.mainController.set('isTomorrow',true);
            IndexApp.mainController.set('current',manager.currentState.name);

        },
        showCal:function(manager,event){
            IndexApp.mainController.set('calItem', event.context);
            manager.goToState('cal');
        },
        inbox: Ember.ViewState.create({
            view: Ember.View.extend({
                templateName: 'todo-content',
                contentBinding: 'IndexApp.mainController.inbox'

            })
        }),
        today: Ember.ViewState.create({
            view: Ember.View.extend({
                templateName: 'todo-content',
                contentBinding: 'IndexApp.mainController.today'
            })
        }),
        tomorrow: Ember.ViewState.create({
            view: Ember.View.extend({
                templateName: 'todo-content',
                contentBinding: 'IndexApp.mainController.tomorrow'

            })
        }),
        cal: Ember.ViewState.create({
            view: Ember.View.extend({
                templateName: 'todo-item',
                contentBinding: 'IndexApp.mainController.calItem',
                didInsertElement: function() {
                    this._super();
                    this.$( ".datepicker" ).datepicker({ dateFormat: "yy-mm-dd",showButtonPanel: true});
                    this.$("#contact_start_time, #contact_end_time").timePicker({
                                show24Hours: true,
                                separator: ':',
                                step: 30}
                    );
                    var oldTime = $.timePicker("#contact_start_time").getTime();

                    $('#start_date').change(function(){
                        $('#end_date').val($('#start_date').val());
                    });
                    $("#contact_start_time").change(function() {
                        if ($("#contact_end_time").val()) {
                            var duration = ($.timePicker("#contact_end_time").getTime() - oldTime);
                            var time = $.timePicker("#contact_start_time").getTime();
                            $.timePicker("#contact_end_time").setTime(new Date(new Date(time.getTime() + duration)));
                            oldTime = time;
                        }
                    });


                    $( "#contact_attend" ).tokenInput(IndexApp.systemValue.get('customer_list'),
                        {
                            theme: "facebook",
                            searchDelay:100,
                            prePopulate:IndexApp.mainController.calItem.get('attend')
                        });
                }

            })
        })
    })




})();

 </script>
{% endblock %}
